.checkbox-label {
  display: block;

  min-height: 40px;
  padding: 10px 0 28px 65px;
  box-sizing: border-box;

  position: relative;
  cursor: pointer;
}

.checkbox-label__input {
  display: none;
}

.checkbox-label__indicator {
  dispaly: block;

  position: absolute;
  top: 0;
  left: 0;

  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid @lightbrown;
}

.checkbox-label__input:checked + .checkbox-label__indicator::before,
.checkbox-label__input:checked + .checkbox-label__indicator::after {
  content: "";
  display: block;

  position: absolute;

  width: 2px;
  background: #000000;
}

.checkbox-label__input:checked + .checkbox-label__indicator::before {
  left: 10px;
  bottom: 8px;
  height: 10px;
  transform: rotate(-45deg);
}

.checkbox-label__input:checked + .checkbox-label__indicator::after {
  left: 20px;
  bottom: 6px;
  height: 22px;
  transform: rotate(45deg);
}

.checkbox-label:hover .checkbox-label__indicator {
  border: 2px solid #62d1ba;
}

.checkbox-label:active .checkbox-label__indicator {
  border: 2px solid #c7c7c7;
}

@media @tablet-widths {
  .checkbox-label {
    flex-basis: 40%;
    flex-grow: 1;

    margin-bottom: 19px;
    height: 52px;
    padding: 15px 0 15px 80px;

    &:nth-child(2n + 1) {
      margin-right: 25px;
    }
  }

  .checkbox-label__indicator {
    width: 54px;
    height: 52px;
  }

  .checkbox-label__input:checked + .checkbox-label__indicator::before {
    left: 14px;
    bottom: 12px;
    height: 15px;
  }

  .checkbox-label__input:checked + .checkbox-label__indicator::after {
    left: 29px;
    bottom: 10px;
    height: 30px;
  }
}

@media @desktop-widths {
  .checkbox-label {
    flex-basis: 32%;
    flex-grow: 0;
  }

  .checkbox-label:nth-child(2n + 1) {
    margin-right: 0;
  }
}
