.developers {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .set-text-params(19px; 700; 18px);
  text-decoration: none;
  color: #000000;

  &:active {
    color: fadeout(#000000, 70%);
  }
}

.developers__text {
  display: inline-block;
  .set-text-params(19px; 700; 18px);
  margin-right: 23px;
}

.developers__svg {
  fill: #63d1bb;
}

.developers:hover .developers__svg {
  fill: #46c1ae;
}

.developers:active .developers__svg {
  fill: fadeout(#46c1ae, 70%);
}
