.radio-label {
  position: relative;
  display: block;

  min-height: 50px;
  padding: 10px 0 10px 65px;
  box-sizing: border-box;
  cursor: pointer;

  &:not(.radio-label:first-child) {
    padding-top: 15px;
  }
}

.radio-label__input {
  display: none;
}

.radio-label__input + .radio-label__indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid @lightbrown;
  box-sizing: border-box;

  cursor: pointer;
}

.radio-label__input:checked + .radio-label__indicator::after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;

  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: @lightgreen;
}

.radio-label:hover .radio-label__indicator {
  border: 2px solid #62d1ba;
}

.radio-label:active .radio-label__indicator {
  border: 2px solid #c7c7c7;
}

@media @tablet-widths {
  .radio-label {
    width: 500px;
    min-height: 62px;
    padding: 20px 0 15px 80px;
  }

  .radio-label__input + .radio-label__indicator {
    top: 5px;

    width: 52px;
    height: 52px;
  }

  .radio-label__input:checked + .radio-label__indicator::after {
    top: 14px;
    left: 14px;

    width: 20px;
    height: 20px;
  }
}

@media @desktop-widths {
  .radio-label__input {
    width: 700px;
  }
}
