.features {
  .container;
  margin: 20px auto 53px;
  padding: 0 30px;
  box-sizing: border-box;
}

.features__title {
  margin-bottom: 5px;
  .set-text-params(25px; 700; 30px);
}

.features__item {
  position: relative;
}

.features__item-description {
  display: block;
  padding-top: 83px;
  .set-text-params(17px; 700; 20px);
}

.features__item-pic {
  position: absolute;
  top: 30px;
  left: 0;
  fill: @lightgreen;

  &--flower {
    top: 25px;
  }

  &--style {
    top: 22px;
  }

  &--heart {
    top: 32px;
  }

  &--threads {
    left: -2px;
  }

  &--rocket {
    left: -4px;
  }

  &--present {
    left: -4px;
  }
}

@media @tablet-widths {
  .features {
    display: flex;
    flex-wrap: wrap;

    margin: 50px auto;
    padding: 0 50px;
  }

  .features__title {
    flex-basis: 100%;
    margin: 0 0 5px -5px;
    .set-text-params(43px; 700; 50px);
  }

  .features__item {
    width: 50%;
    margin-bottom: 15px;
    padding-top: 20px;

    &:nth-of-type(2) {
      order: 3;
    }

    &:nth-of-type(3) {
      order: 5;
    }

    &:nth-of-type(4) {
      order: 2;
    }

    &:nth-of-type(5) {
      order: 4;
    }

    &:nth-of-type(6) {
      order: 6;
    }
  }

  .features__item-description {
    padding-top: 75px;
    .set-text-params(20px; 700; 23px);
  }

  .features__item-pic {
    top: 45px;

    &--flower {
      top: 40px;
    }

    &--style {
      top: 37px;
    }

    &--heart {
      top: 47px;
    }
  }
}

@media @desktop-widths {
  .features {
    margin: 60px auto 70px;
    padding: 0 220px;
  }

  .features__title {
    margin: 0 0 10px 0;
    .set-text-params(53px; 700; 57px);
  }

  .features__item {
    width: 49%;
    box-sizing: border-box;

    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(3) {
      margin-left: 5px;
    }
  }


  .features__item-description {
    padding-top: 70px;
    line-height: 25px;
  }

  .features__item-pic {
    top: 35px;

    &--style {
      top: 33px;
    }

    &--heart {
      top: 43px;
    }

    &--threads {
      top: 40px;
      left: -2px;
    }

    &--rocket {
      top: 40px;
      left: -3px;
    }

    &--present {
      top: 40px;
      left: -3px;
    }
  }
}
