.feedback {
  position: relative;

  .container;
  margin: 30px auto 85px;
  padding: 0 30px;
  box-sizing: border-box;
}

.feedback:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -50px;
  display: block;
  width: 100%;
  height: 6px;
  background: url(../img/bg-zigzag-line.svg) repeat-x;
  background-size: contain;
}

.feedback__title {
  margin-bottom: 25px;
  .set-text-params(25px; 700; 30px);
}

.feedback__message {
  .set-text-params(15px; 400; 30px);
  color: @lightbrown;
}

.feedback__author {
  margin: 25px 0 33px;
}

.feedback__author-name {
  .set-text-params(18px; 700; 24px);
  color: #000000;
}

.feedback__author-id {
  .set-text-params(18px; 400; 30px);
  color: @lightbrown;
}

.feedback__controls {
  display: flex;
  margin-bottom: 38px;
}

.feedback__controls-btn {
  display: flex;

  width: 50%;
  height: 50px;
  .hide-text;
  border: 1px solid #ececec;

  &:last-child {
    border-left: none;
  }
}

.feedback__controls-svg {
  margin: auto;
}

.feedback__controls-btn:hover .feedback__controls-svg {
  fill: #666666;
}

.feedback__controls-btn:active .feedback__controls-svg {
  fill: #b2b2b2;
}

@media @tablet-widths {
  .feedback {
    margin: 67px auto 100px;
    padding: 79px 50px 58px;
    min-height: 457px;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: top left;
  }

  .feedback:after {
    height: 17px;
    bottom: -40px;
  }

  .feedback__title {
    order: -2;
    flex-grow: 1;

    margin: 0;
    margin-left: -5px;

    .set-text-params(43px; 700; 50px);
  }

  .feedback .user-btn {
    order: -1;
    width: 176px;
  }

  .feedback__message {
    margin: 45px 0 60px;
    width: 100%;

    .set-text-params(17px; 400; 30px);
  }

  .feedback__author {
    margin: 0;
    flex-grow: 1;
  }

  .feedback__controls {
    width: 180px;
  }

  .feedback__controls-btn {
    border: none;
  }
}

@media @desktop-widths {
  .feedback {
    .container;
    margin: 0 auto 160px;

    width: 1050px;
    padding-top: 70px;
    box-sizing: border-box;
    background-position-x: 50px;
  }

  .feedback::after {
    bottom: -95px;
    height: 26px;
  }

  .feedback__title,
  .feedback__message,
  .feedback__author {
    padding-left: 175px;
  }

  .feedback__title {
    .set-text-params(53px; 700; 57px);
  }

  .feedback__btn {
    margin-top: 10px;
  }

  .feedback__message {
    margin-top: 45px;
    margin-bottom: 40px;
  }
}
