.page-header {
  position: relative;
  .container;
  background: #f1f1f1;

  &--index {
    background: #f9f9f9;
  }
}

.extra-nav,
.page-header__delivery {
  display: none;
}

.page-header__logo {
  position: relative;

  display: flex;

  min-height: 80px;
  box-sizing: border-box;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  background: #ffffff;
}

.page-header__link {
  margin: auto;
}

.page-header__toggle {
  position: absolute;
  top: 20px;
  right: 20px;

  display: block;

  width: 40px;
  height: 40px;

  font-size: 0;

  background-color: transparent;
  border: none;
  outline: none;

  cursor: pointer;

  &--open::before,
  &--no-js::before {
    content: "";
    position: absolute;
    top: 12px;
    right: 11px;

    width: 20px;
    height: 2px;

    background-color: #221f1f;
    box-shadow: 0 6px 0 0 #221f1f,
                0 12px 0 0 #221f1f;
  }

  &--close::before,
  &--close::after {
    content: "";
    position: absolute;
    top: 7px;
    right: 19px;

    width: 2px;
    height: 25px;

    background-color: #221f1f;
  }

  &--close::before {
    transform: rotate(45deg);
  }

  &--close::after {
    transform: rotate(-45deg);
  }
}

.page-header__svg-mobile {
  display: block;
}

.page-header__svg-tablet,
.page-header__svg-desktop {
  display: none;
}

.page-header__svg {
  fill: #000000;
}

.page-header__link:not(.page-header__link--current):hover .page-header__svg {
  fill: fadeout(#000000, 40%);
}

.page-header__link:not(.page-header__link--current):active .page-header__svg {
  fill: fadeout(#000000, 70%);
}

@media @tablet-widths {
  .page-header {
    position: relative;

    display: flex;
    flex-wrap: wrap;
  }

  .page-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 12px;
    background: url(../img/bg-zigzag-fill.svg) no-repeat;
    background-size: cover;
  }

  .page-header__logo {
    order: -2;
    padding-left: 48px;
    width: 370px;
    height: 88px;
  }

  .page-header__link {
    margin-left: 0;
  }

  .page-header__svg-tablet {
    display: block;
  }

  .page-header__svg-mobile {
    display: none;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__delivery {
    flex-grow: 1;

    display: block;
    padding: 17px 48px 0 0;

    text-align: right;
    .set-text-params(15px; 400; 24px);
    color: @lightbrown;
  }

  .page-header__zigzag {
    display: block;

    position: absolute;
    bottom: -151px;
    left: 0;
  }

  .page-header--index .page-header__zigzag {
    bottom: -16px;
  }
}

@media @desktop-widths {
  .page-header::after {
    height: 19px;
  }

  .page-header__logo {
    width: 326px;
    padding-left: 75px;
  }

  .page-header__link {
    margin: auto 0;
  }

  .page-header__svg-desktop {
    display: block;
  }

  .page-header__svg-tablet {
    display: none;
  }

  .page-header__delivery {
    padding-top: 18px;
    padding-right: 50px;
  }

  .page-header__zigzag {
    bottom: -170px;
    width: 1150px;
  }
}
