.shop-catalog {
  .no-list-style;
}

.shop-catalog__item-type {
  position: relative;
  display: block;

  min-height: 103px;
  padding: 25px 30px;
  box-sizing: border-box;

  text-align: left;
  color: #ffffff;
  text-decoration: none;
  background-color: @lightgreen;

  &--toys {
    background-color: #56c3b2;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 0 0 @lightgreen;
  }

  &--toys:hover {
    box-shadow: 0 5px 0 0 #56c3b2;
  }

  &:active {
    color: fadeout(#ffffff, 70%);
  }
}

.shop-catalog__type-name {
  .set-text-params(19px; 700; 24px);
}

.shop-catalog__type-image {
  position: absolute;
  top: 23px;
  right: 22px;

  fill: rgba(20, 144, 128, 0.5);
}

.shop-catalog__item-type:hover .shop-catalog__type-image {
  fill: rgba(20, 144, 128, 0.7);
}

.shop-catalog__item-type:active .shop-catalog__type-image {
  fill: rgba(20, 144, 128, 0.3);
}

.shop-catalog__item-type--toys .shop-catalog__type-image {
  top: 20px;
  right: 26px;
}


@media @tablet-widths {
  .shop-catalog {
    width: 100%;
    margin: 0 50px;
    display: flex;

    background: #f9f9f9;
  }

  .shop-catalog__item {
    width: 50%;
  }

  .shop-catalog__type-name {
    .set-text-params(20px; 700; 30px);
  }

  .shop-catalog__item-type {
    min-height: 120px;
    padding: 30px 35px;
  }

  .shop-catalog__type-image {
    top: 30px;
  }

  .shop-catalog__item-type--toys .shop-catalog__type-image {
    top: 32px;
    right: 33px;
  }
}

@media @desktop-widths {
  .shop-catalog__item-type {
    padding: 27px 37px;
  }
}
