.video {
  margin: @block-margin;
  padding: 28px;

  border: 1px solid #ededed;
}

.video__title {
  .set-text-params(17px; 700; 24px);
}

.video__itself {
  margin: 0 -29px;
}

.video__description {
  .set-text-params(13px; 400; 24px);
  color: @lightbrown;
}
